<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset='UTF-8'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>xiao mao cam</title>
<style>
#livevideo {
  max-width: 500px;
  padding: 5px;
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

a:link, a:visited {
  background-color: #cacaca;
  color: #0b0b0b;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #ffb9b9;
}

</style>
</head>
<body class="center">
   <h1> xiao mao?</h1>
   <img id='livevideo' src="{{ url_for('video_feed') }}" width="100%" class="center">
   <p>Latest detection at {{ latest_detection_time }} </p>
   <a href='/activities'>View History</a>
</body>
</html>
