<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty Visits</title>
<style>
#video-gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.video-container {
  text-align: center;
}
.video-header {
  display: flex;
  justify-content: space-between;
}
#header {
  text-align: center;
}
</style>
</head>
<body>
    <div id="header">
	<a href="/">Go back to livestream</a>
    	<h1>Kitty visits</h1>
    </div>
    <div id="video-gallary">
        {% for (t, videoid) in video_files %}
            <div class="video-container">
		<div class="video-header">
			<div> {{ t }} </div>
			<div> 
				<select name="label" id="{{videoid}}-label">
					<option disabled selected value> </option>
					<option value="xiaomao">Xiaomao</option>
					<option value="siama">Siama</option>
					<option value="possum">Possum</option>
				</select>
			</div>

		</div>
		<video width="320" height="240" controls onloadstart="this.playbackRate=0.75">
                    <source src="{{ url_for('serve_video', filename=videoid+'.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endfor %}
    </div>
</body>
</html>

